<div fxLayout="row wrap" fxLayoutAlign="center center" style="position: fixed; left: 0; right: 0; top: 0; z-index: 1000">
  <mat-toolbar style="left:0; right:0">
    <mat-toolbar-row>
      <button mat-mini-fab color="accent" routerLink="/login" *ngIf="!userLoggedIn" matTooltip="Login"><i class="fas fa-sign-in-alt"></i></button>
      <button mat-mini-fab color="accent" (click)="logout()" *ngIf="userLoggedIn" matTooltip="Logout {{loggedInUsername}}"><i class="fas fa-power-off"></i></button>
      <button mat-mini-fab color="accent" class="btn-margin" routerLink="/simulator" matTooltip="Simulator" ><i class="fas fa-dice"></i></button>
      <button mat-mini-fab color="accent" routerLink="/profile" matTooltip="Bank Profile"><i class="fas fa-money-check-alt"></i></button>
      <button mat-mini-fab color="accent" class="btn-margin" routerLink="/portfolio" matTooltip="Portfolio"><i class="fas fa-user"></i></button>
      <button mat-mini-fab color="accent" routerLink="/stocks" matTooltip="Stock Market"><i class="fas fa-chart-line"></i></button>
      <span class="fill-remaining-space"></span>
      <span style="font-size: 24px; color:#d0d0d0">{{ title }}!</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="height: 100px"></div>
<div fxLayout="row" fxLayoutAlign="center center">
  <router-outlet></router-outlet>
</div>



