<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-toolbar style="left:0; right:0">
    <mat-toolbar-row>
      <button mat-raised-button class="btn-margin" routerLink="/login" *ngIf="!userLoggedIn">Login</button>
      <button mat-raised-button class="btn-margin" (click)="logout()" *ngIf="userLoggedIn">Logout</button>
      <button mat-raised-button class="btn-margin" routerLink="/simulator">Simulator</button>
      <button mat-raised-button class="btn-margin" routerLink="/profile">Bank Profile</button>
      <button mat-raised-button class="btn-margin" routerLink="/portfolio">Broker Portfolio</button>
      <span class="fill-remaining-space"></span>
      <span style="font-size: 24px; color:#d0d0d0">{{ title }}!</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="height: 100px"></div>

<div fxLayout="row" fxLayoutAlign="center center">
  <router-outlet></router-outlet>
</div>



