<div style="align-content:center; text-align: center">
    <h2 style="color:#3f3f3f">Developer team - SAVICK</h2>
    <table style="text-align: left; font-size: 40px; font-weight: 600; text-transform: uppercase; text-shadow: 2px 2px 0 #3f3f3f, 4px 4px 0 #6a6a6a;">
      <tr>
        <td>
          <span [@castStyleAnimation]="state" >
            Samintha Kaveesh
          </span>
        </td>
        <td>
          <span [@castStyleAnimation]="state" >
            16211180
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span [@castStyleAnimation]="state">
            Visith Dayananda
          </span>
        </td>
        <td>
          <span [@castStyleAnimation]="state">
            16211151
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span [@castStyleAnimation]="state" >
            Kaushika Indeewari &nbsp;&nbsp;
          </span>
        </td>
        <td>
          <span [@castStyleAnimation]="state" >
            16211160
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span [@castStyleAnimation]="state" >
            Samurdi Dilhara
          </span>
        </td>
        <td>
          <span [@castStyleAnimation]="state" >
            16211161
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span [@castStyleAnimation]="state" >
            K C Kumara
          </span>
        </td>
        <td>
          <span [@castStyleAnimation]="state" >
            16211154
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span [@castStyleAnimation]="state" >
            Ayodya Nadun
          </span>
        </td>
        <td>
          <span [@castStyleAnimation]="state" >
            16211219
          </span>
        </td>
      </tr>
    </table>
  </div>

