<div style="align-content:center; background:#242424; padding: 8px 36px 16px;">
  <h2 style="color:#d0d0d0">Login: </h2>
  <form style="justify-content: center; align-items: center; flex: 50">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username" name="username" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="logUser()">Login</button>
  </form>
  <br>
  <button mat-button color="warn" routerLink="/signup" >Signup</button>
</div>

