/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

* {
  font-family: Calibri, sans-serif;
}

input, select, textarea{
  color : #dfdfdf !important;
}
textarea:focus, input:focus {
  color: #dfdfdf;
}
